<p id="notice"><%= notice %></p>

<h1>Listing Revenues</h1><p> <%= link_to 'New Revenue', new_revenue_path,:class => "btn btn-success btn-xs" %> </p>

<table class="table table-hover table-bordered">
  <thead>
    <tr>
      <th>Id</th>
      <th>Name</th>
      <th>Date</th>
      <th>Category</th>
      <th>#</th>
    </tr>
  </thead>

  <tbody>
    <% @revenues.each do |revenue| %>
      <tr>
        <td><%= link_to revenue.id, revenue %></td>
        <td><%= revenue.name %></td>
        <td><%= revenue.name_category %></td>
        <td><%=l revenue.created_at %></td>
        <td>
          <%= link_to 'Edit', edit_revenue_path(revenue),:class => "btn btn-success btn-xs" %>
          <%= link_to 'Destroy', revenue, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-xs btn-danger' %></td>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
